body {
  background-color: #D6D6D6;
  height: 100%;
}

main {
	background-color: #D6D6D6;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}

#mat {
  flex-shrink: 0;
	width: 600px;
	margin: 100px;
  padding: 20px;
}

div.dotted {
  border-style: dotted;
  border-color: #4f4f51;
  background-color: #fbccd3;
}

h1 {
  color: #fbccd3;
  font-size: 100px;
}

p.men {
  color: red;
}


/* ----- for book.html ----- */

.contact-container {
  border-radius: 120px; /* gjør den rosa boksen rund */
  background-color: #fbccd3;
  padding: 3% 10%; /*padding oppe og på siden*/
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ff652f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ffe400;
  color: black;
}




/* -------- flex box --------- */

.big-text {
  font-family: helvetica;
  font-size: 80px;
  font-style: bold;
  color: #4f4f51;
  padding: 10px;
}
.small-text1 {
  font-family: helvetica;
  font-size: 40px;
  color: #4f4f51;
  padding: 10px;
}
.small-text2 {
  font-family: helvetica;
  font-size: 30px;
  color: #4f4f51;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-left {
  flex: 50%;
  margin: 20px;
  padding: 20px;
}
.flex-right {
  flex: 50%;
  margin: 20px;
  padding: 20px;
}

/*
.flex-container2 {
  display: flex;
  flex-direction: row;
}

.flex-menu1 {
  flex: 25%;
  margin: 1px;
}
.flex-menu2 {
  flex: 25%;
  margin: 1px;

}.flex-menu3 {
  flex: 25%;
  margin: 1px;
}
.flex-menu4 {
  flex: 25%;
  margin: 1px;
}
?*
